*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: gray;
    position: relative;
}
.upp

{
    border: 7px solid red;
    border-radius: 20px;
    background-color: aliceblue;
    width: 500px;
    height: 150px;
    margin-left: 350px;
    color: rgb(168, 19, 44);
    font-size: 16px;
    box-shadow: 5px 5px 2px 2px purple;
}
.bc
{
    
    border: 5px solid green;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */

}
#bc1
{
    border: 7px solid red;
    border-radius: 20px;
    height: 170px;
    width: 200px;
    background-color: aliceblue;
    color: rgb(121, 19, 107);
    font-size: 20px;
    padding:20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 35px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    color: rgb(48, 12, 12);
    font-family:'Times New Roman', Times, serif;
    box-shadow: 5px 5px 2px 2px purple;
    
}
#bc2
{
    border: 7px solid red;
    border-radius: 20px;
    height: 170px;
    width: 200px;
    padding:20px;
    padding-left: 28px;
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    background-color: aliceblue;
    /* color: rgb(168, 19, 44); */
    font-size: 16px;
    box-shadow: 5px 5px 2px 2px purple;
    /* justify-content: space-around; */
    float: right;
    margin-top: -225px;
    margin-right: 70px;
}


#bcc1
{
    border: 7px solid red;
    border-radius: 20px;
    height: 200px;
    width: 210px;
    background-color: aliceblue;
    color: rgb(168, 19, 44);
    font-size: 20px;
    padding-top:15px;
    padding-right: 20px;
    /* line-height: 35px; */
    font-weight: bolder;
    text-shadow: 2px 2px 2px  rgb(105, 18, 18);
    color: rgb(48, 12, 12);
    font-family:'Times New Roman', Times, serif;
    box-shadow: 5px 5px 2px 2px purple;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    
}
#bcc2
{
    border: 7px solid red;
    border-radius: 20px;
    height: 180px;
    width: 200px;
    padding:20px;
    padding-left: 28px;
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    background-color: aliceblue;
    /* color: rgb(168, 19, 44); */
    font-size: 16px;
    box-shadow: 5px 5px 2px 2px rgb(156, 17, 17);
    /* justify-content: space-around; */
    float: right;
    margin-top: -260px;
    margin-right: 70px;
    /* margin-top: 50px; */
    color: black;
    margin-bottom: 50px;
    
}
.mc-container {
    position: relative;
    z-index: 1;
}

.mc {
    font-style: oblique;
    width: 450px;
    height: 100px;
    box-shadow: 6px 8px purple;
    border: 2px solid red;
    border-width: 7px;
    border-radius: 15px;
    color: brown;
    background-color: chartreuse;
    bottom: 35px;
    margin-left: 100px;
    position: fixed; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.rate
{
    color:black;
    text-shadow: 2px 2px 2px red;
    text-align: center;

}
.container
{    
    margin-left: 300px;
    width: 700px;
    position: relative;
    margin-top: 40px;
    border: 2px solid green;
    border-width: 4px;
    border: 5px solid purple;
    /* z-index: 2; */
    
}
.div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.div1
{
   
    width: 345px;
    height: 300px;
    border: 2px solid green;
    background-color: rgb(236, 236, 67);
    border-width: 3px;
    font-weight: 700;
    text-align: center;
    line-height: 2.5;
    font-style: italic;
  
    
}
.div2
{
    width: 345px;
    height: 300px;
    border: 2px solid green;
    text-align: center;
    line-height: 2.5;
    font-style: italic;
    background-color:rgb(236, 236, 67);
    border-width: 3px;
   font-weight: 700;
   
}


.other
{
    border: 2px solid green;
    background-color: rgb(236, 236, 67);
    width: 700px;
    height: 300px;
    border-width: 3px;
   padding-left: 10px;
   font-style: oblique;
   font-weight: 700;
   line-height: 2.5;
   text-align: center;

   
}

